*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:Arial,sans-serif;
  min-height:100vh;
  display:flex;
  justify-content:center;
  align-items:flex-start;
  background:linear-gradient(135deg,#090b2a,#1f1147,#4d1b72);
  overflow-y:auto;
  color:white;
  padding:40px 20px;
}

.container{
  width:100%;
  max-width:800px;
  text-align:center;
  background:rgba(255,255,255,0.1);
  padding:40px;
  border-radius:25px;
  backdrop-filter:blur(15px);
  box-shadow:0 0 30px rgba(255,255,255,.15);
  animation:fadeIn 1.5s ease;
  margin:20px 0;
}

h1{
  font-size:42px;
  margin-bottom:15px;
}

p{
  font-size:18px;
  margin-bottom:25px;
  opacity:.9;
}

button{
  padding:15px 35px;
  border:none;
  border-radius:50px;
  background:#ff4fa3;
  color:white;
  font-size:18px;
  cursor:pointer;
  transition:.3s;
}

button:hover{
  transform:scale(1.08);
}

@keyframes fadeIn{
  from{
    opacity:0;
    transform:translateY(30px);
  }
  to{
    opacity:1;
    transform:translateY(0);
  }
}
.memory-card{
    background:rgba(255,255,255,0.15);
    padding:20px;
    margin:20px 0;
    border-radius:20px;
    transition:0.4s;
}

.memory-card:hover{
    transform:scale(1.05);
}

.memory-card h2{
    margin-bottom:10px;
}
.gallery{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(150px,1fr));
gap:15px;
margin:30px 0;
}

.gallery img{
width:100%;
border-radius:20px;
transition:0.4s;
box-shadow:0 10px 25px rgba(0,0,0,.3);
}

.gallery img:hover{
transform:scale(1.08);
}
